[Unit]
Description=Refresh private ZCL RPC credentials after activation and each minute

[Timer]
OnActiveSec=1s
OnUnitInactiveSec=1min
AccuracySec=1s
Unit=zcl-rpc-cookie.service

[Install]
WantedBy=timers.target
