[Unit]
Description=Check durable ZCL payout coordinator every minute

[Timer]
OnActiveSec=1s
OnUnitInactiveSec=1min
AccuracySec=1s

[Install]
WantedBy=timers.target
