[Unit]
Description=Check ZCL block and earnings pipeline every 15 seconds

[Timer]
OnActiveSec=1s
OnUnitInactiveSec=15s
AccuracySec=1

[Install]
WantedBy=timers.target
